
  .myContainer {
    height: 100%;
    background: #F4F4FA;

    /*顶部内容开始*/
    .top {
      background: url("~assets/images/index_top.jpg") no-repeat;
      background-size: 100% 100%;
      height: 100px;
      position: relative;
      .flexTop {
        width:90%;
        margin: 0 auto;
        &>div{
          float: left;
        }
        &>div:last-child{
         /* width:50%;*/
        }
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: block;
          float: left;
        }
      }
      .topInfo {
        padding-left: 5px;
        box-sizing: border-box;
        p {
          font-size: 18px;
          color: #fff;
          display: inline-block;
          margin-right: 10px;
        }
        span {
          background: #7BBDCE;
          border-radius: 50px;
          width: auto;
          text-align: center;
          color: #fff;
          font-size: 14px;
          padding: 3px 15px;
          margin-top: 5px;
          margin-left: -5px;
          font-weight: 200;
        }
      }
    }

    /*顶部内容结束*/

    
  }


  /*扫一扫的样式*/
  .scanStyle{
    position: absolute;
    right: 20px;
    width: 32px;
    top: 10px;
  }